html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://rsms.me/inter/inter.css');

:root{
    
    --bs-link-color: #000;
    
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #58D838;
    --bs-btn-border-color: #58D838;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #43A62B;
    --bs-btn-hover-border-color: #43A62B;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #43A62B;
    --bs-btn-active-border-color: #43A62B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #58D838;
    --bs-btn-disabled-border-color: #58D838;
}



.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #7289D9;
    --bs-btn-border-color: #7289D9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5465A0;
    --bs-btn-hover-border-color: #5465A0;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5465A0;
    --bs-btn-active-border-color: #5465A0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7289D9;
    --bs-btn-disabled-border-color: #7289D9;
}

    html{
         background-color:#fced53;
        background-image:url('suntile-single.jpg');
        background-repeat:repeat;
        position:relative;
    }
 
   body{
         background-color:rgb(250 219 20 / 0%) ;
         font-family: 'Inter', sans-serif; 
    }
    body *{
        font-family: 'Inter', sans-serif; 
    }